.bundle
db/*.sqlite3
log/*.log

# Ignoring everything in tmp
# As standalone passenger writes tmp/restart.txt (which we don't need)
tmp/*
tmp/**/*

uploads/*

# Mac specific
.DS_Store
*.tmproj

# Ruby version manager
.rvmrc