
<table border="0" cellspacing="0" class="metadata">
	<tr>
		<td class="name">size</td>
		<td class="value"><%= number_to_human_size @asset.size %></td>
	</tr>
	
	<tr>
		<td class="name">Uploaded</td>
		<td class="value"><%= time_ago_in_words @asset.created_at %> ago</td>
	</tr>
	
	<% if @asset.preview.exists? %>
	<tr>
		<td class="name">Preview created</td>
		<td class="value"><%= time_ago_in_words @asset.preview_created_at %> ago</td>
	</tr>
	
	<% end %>
</table>
